

html {
    background: black;
    

}

body {
	color: white;
	text-align : center;
	font-family: Portrait;
	font-size: 28px;

}


li {
	text-decoration: none;
    list-style: none;
    display: inline-block;
}

a {
	text-decoration: none;
    color: white;
}[data-icon]:before {
        font-family: 'icomoon';
        content: attr(data-icon);
        speak: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }

#JHLogo{

right: 40px;
bottom: 30px;
transform: rotate(0deg);
z-index: -5;
opacity: 1;
padding-bottom: 0px;

    position: relative; 
    
}





p {
    background-color: white;
    color: black;
}

p.bio {
   
border-style: solid;
font-size: 9px;
padding-top: 12px;
margin-left: 600px;



}

p.solid {}

   solid white;
    padding-left: 223px
    
    background-color: grey;
    margin-left: 210px;
    margin-right: 210px;
    
font-size: 12px;
padding-top: 12px;

padding-left: 34px;
    font-size: 33px;


#LastName3{

margin-left: -160px;
}

#LastName4 
{
padding-top: 0px;
left: 30px;


}
#testing{
opacity: 0.5;

}

#musicSign2{
transform: rotate(180deg);

}



#LinkedInBeg{
transform: rotate(210deg);
padding-top: 10px;

}
#LinkedInMid1{
transform: rotate(195deg);
padding-bottom: 10px;

}
#LinkedInMid2{
transform: rotate(185deg);
padding-bottom: 20px;

}
#LinkedInMid3{
transform: rotate(175deg);
padding-bottom: 20px;

}
#LinkedInMid4{
transform: rotate(165deg);
padding-bottom: 10px;

}

#LinkedInEnd{
    padding-top: 10px;
transform: rotate(150deg);



}
#resume1{
transform: rotate(270deg);

    font-size: 50px;

}
#resume2{
transform: rotate(90deg);
    font-size: 50px;
}
#SC{
transform: rotate(10deg);
padding-bottom: 00px;
padding-left: 40px;
padding-top: -60px;
    font-size: 80px;


}
#mail{
    font-size: 20px;
transform: rotate(deg);



}
#insta{
top: 69px;
right: 70px;
position: fixed;
    font-size: 33px;


}
#musicSign{

padding-bottom: 500px

padding-left: 582px
position: fixed;

}

}
#elementID{


}
#elementID{


}
#linkedintest{
top: 382px;
right: 373px;
font-size: 60px;
 position: absolute;
}

img.ram{

    
    left: 480px;
    top: 135px;

}
#topName{
padding-top: 30px;

}
#elementID{
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
border: 20px solid #f00;

}