

html {
    background: url("black2.png");
}

body {
	color: white;
	text-align : center;
	font-family: Portrait;
	font-size: 28px;
}


li {
	text-decoration: none;
    list-style: none;
    display: inline-block;
}

a {
	text-decoration: none;
    color: white;
}